{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class ="row">
        <div class="col-md-12 jumbotron text-center">
            <h1>Welcome to Movie Visualizations</h1>
            <p>Select one of the visualizations below</p>
        </div>
    </div>
    <div class="box">
        <div class="container">
            <div class="row" style="padding-bottom: 30px;">
                <div class="col">
                    <a href="/maps"><img class="thumb" src="{{ url_for('static', filename='img/maps.png') }}"></a>
                </div>
                <div class="col">
                    <a href="/scatter"><img class="thumb" src="{{ url_for('static', filename='img/scatter.png') }}"></a>
                </div>
                <div class="col">
                    <a href="/wordcloud"><img class="thumb" src="{{ url_for('static', filename='img/cloud.png') }}"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}