<!doctype html>
<html>
    <head>
        {% block head %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Local Styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- Ajax Link -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body class="bg-light" id="top">

        <!--
        ####################################################
        N A V B A R
        ####################################################
        -->
        <!-- If you need sticky-top to work in lower versions of IE https://github.com/filamentgroup/fixed-sticky -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top ">

            <div class="navbar-toggler-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!-- Important - make sure to have the toggler button outside of the container -->

            <a class="navbar-brand" href="/">
                <span class="">Movie Visualizations</span>
            </a>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav justify-content-end w-100">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/maps">World Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/scatter">Scatter Plot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wordcloud">Word Cloud</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--
        ####################################################
        B O D Y
        ####################################################
        -->
        <div id="container-fluid">{% block content %}{% endblock %}</div>

        <!--
        ####################################################
        F O O T E R
        ####################################################
        -->
        <div id="footer">
            <div class="container text-center">
                {% block footer %}
                <p>&copy; Copyright 2021 by Eliot Chern, Sean Galloway and Cora Micsunescu.</p>
                {% endblock %}
            </div>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>
</html>