{% extends "layout.html" %}
{% block title %}Movie Map{% endblock %}
{% block head %}
    {{ super() }}
    <!---D3 Link -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!--Leaflet CSS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
     <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
     integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
     crossorigin=""></script> 
       
{% endblock %}
{% block content %}
    <div class ="row">
        <div class="col-md-12 jumbotron text-center">
            <h1>Movie Map</h1>
        </div>
    </div>
    <div style="width: 100%; height: 800px" id="map"></div>

      <!-- script file -->
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/world.js') }}"></script>
{% endblock %}