{% extends "layout.html" %}
{% block title %}Scatter Plot{% endblock %}
{% block head %}
    {{ super() }}
    <!---D3 Link -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
{% endblock %}
{% block content %}
    <div class ="row">
        <div class="col-md-12 jumbotron text-center">
            <h1>Scatter Plot</h1>
        </div>
    </div>
    <div class="container" id="scatter">
    </div>
    <!-- script file -->
    <script src="{{ url_for('static', filename='js/scatter.js') }}"></script>
{% endblock %}
